@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 52 100% 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 52 91% 93%;
    --secondary-foreground: 0 0% 0%;
    --muted: 52 91% 93%;
    --muted-foreground: 0 0% 45%;
    --accent: 47 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 52 80% 85%;
    --input: 52 80% 85%;
    --ring: 52 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 52 100% 50%;
    --card: 0 0% 15%;
    --card-foreground: 52 100% 50%;
    --popover: 0 0% 15%;
    --popover-foreground: 52 100% 50%;
    --primary: 52 100% 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 52 30% 20%;
    --secondary-foreground: 52 100% 50%;
    --muted: 0 0% 20%;
    --muted-foreground: 52 70% 80%;
    --accent: 47 100% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 52 30% 30%;
    --input: 52 30% 30%;
    --ring: 52 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

